@font-face {
    src: url("./assets/font/pokemon/PokemonHollow.ttf");
    font-family: "PokemonH";
}

@font-face {
    src: url("./assets/font/pokemon/PokemonSolid.ttf");
    font-family: "PokemonS";
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#pokemon_img {
    width: 100px;
    height: 100px;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    -moz-user-select: none; /* Mozilla Firefox */
    -ms-user-select: none; /* Internet Explorer (не поддерживается) */
    -o-user-select: none; /* Opera Presto (не поддерживается) */
    -webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
    background-color: #c8ffc8;
}

.Btn {
    margin-top: 5%;
    border: none;
    border-radius: 30px;
    box-shadow: 0 0 5px 5px #d7c956;
    font-size: 42px;
    width: 300px;
    height: 70px;
    cursor: pointer;
    font-family: 'Georgia', sans-serif;
}

.Sound_controller {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 2%;
    left: 17%;
}

.Title {
    font-size: 64px;
    font-family: "PokemonS", monospace;
    color: #1e69ff;
    text-shadow: 5px 5px 5px #d7c956;
    position: absolute;
    letter-spacing: 10px;
}

/* App Page */

.App {
    background-image: url('./assets/img/pokemon-battle-background-9.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 100%;
    min-height: 100vh;
}

/* MainMenuComponent */

.MainMenu_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

.MainMenu_title {
    top: 30%;
}

.Logo {
    position: absolute;
    top: 1%;
    width: 900px;
    height: 300px;
}


.MainMenu_Btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10%;
}

.StartBtn_menu {
    width: 600px;
    float: left;
    position: relative;
    left: 150px
}

.Game_level {
    position: absolute;
    top: 10px;
    left: 400px;
    display: none;
    float: right;
    z-index: 100;
}

.Btn_level {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    background-color: #fff;
    color: black;
}

.Btn_level:hover, .Card_back:hover, .Btn:hover {
    filter: brightness(0.8);
}

.StartBtn_menu:hover .Game_level {
    display: block;
}

/* GamePage component */

.Card_wrap_container {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: calc(50% - 350px);
    width: 700px;
    height: 850px;
}

.Flips {
    font-size: 34px;
    font-family: "PokemonS", monospace;
    letter-spacing: 5px;
    color: black;
    position: relative;
    left: 70%
}

.Card_container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px;
    border: 3px solid black;
    border-radius: 3%;
    background: #57b157;
    height: 1500px;
}

.Card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 150px;
    border: 2px solid black;
    border-radius: 10%;
    cursor: pointer;
    background: #5ffcff;
}

.Exit_btn {
    width: 70px;
    height: 70px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 900px;
    z-index: 1;
}

/* GameOver Page */

.GameOver_result {
    text-align: center;
}

.GameOver_result img {
    position: absolute;
    top: 25%;
    left: calc(50% - 165px);
    width: 350px;
    height: 350px;
}

.GameOver_Btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 10%;
    left: calc(50% - 150px);
}

.GameOver_title {
    top: 2%;
    left: 35%;
}

/* Collection Page  */

.Collection_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    position: absolute;
    left: 17.5%;
}

.Collection_card_container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 5px;
    justify-content: center;
}

/* CardCollection component*/

.CardCollection_container {
    display: flex;
    border: 2px black solid;
    margin-top: 10%;
    border-radius: 10px;
    position: absolute;
    left: calc(50% - 400px);
    bottom: 100px;
    background-color: #57b157;
    width: 800px;
    height: 700px;
    padding: 10px;
}

.Card_img {
    border: 2px solid black;
    border-radius: 50px;
    width: 210px;
    height: 210px;
    background-color: #fff;
    margin: 20px 0 0 20px;
}

.Card_title {
    position: absolute;
    left: 400px;
    top: 0px;
    font-size: 48px;
    font-family: "PokemonS", monospace;
    color: #fadc85;
    text-transform: capitalize;
    letter-spacing: 5px;
    text-decoration: underline;
    text-align: center;
}

.Card_ability_list {
    position: absolute;
    top: 320px;
    right: 580px;
    font-family: "Roboto Thin", monospace;
    font-size: 28px;
    color: darkred;
}

.Card_type {
    position: absolute;
    text-align: center;
    top: 120px;
    right: 260px;
    font-size: 32px;
}

.Exit_description {
    left: 61em;
    top: -100px;
}

/* CreditComponent */

.Credit_Container {
    display: flex;
    height: 100vh;
    justify-content: center;
}

.Credit_Exit {
    position: relative;
    left: 600px;
}


.Credit_Links_Stack {

}

.Credit_Links_Contacts {

}

.Credits_PokeApi {
    width: 212px;
    height: 78px;
}

.Credits_github {
    width: 200px;
    height: 200px;
}

.Credits_linkedin {
    width: 257px;
    height: 257px;
}

/* Spinner */

.Spinner {
    font-size: 25px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: 50%;
    text-indent: -9999em;
    -webkit-animation: load5 1.1s infinite ease;
    animation: load5 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.Pagination {
    padding-left: 10px;
    text-decoration: none;
    font-size: 24px;
    position: relative;
    top: 40px;
    font-family: "PokemonS", monospace;
    margin-left: 10px;
}

@-webkit-keyframes load5 {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #3f70e4, 1.8em -1.8em 0 0em rgba(63, 112, 228, 0.2), 2.5em 0em 0 0em rgba(63, 112, 228, 0.2), 1.75em 1.75em 0 0em rgba(63, 112, 228, 0.2), 0em 2.5em 0 0em rgba(63, 112, 228, 0.2), -1.8em 1.8em 0 0em rgba(63, 112, 228, 0.2), -2.6em 0em 0 0em rgba(63, 112, 228, 0.5), -1.8em -1.8em 0 0em rgba(63, 112, 228, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(63, 112, 228, 0.7), 1.8em -1.8em 0 0em #3f70e4, 2.5em 0em 0 0em rgba(63, 112, 228, 0.2), 1.75em 1.75em 0 0em rgba(63, 112, 228, 0.2), 0em 2.5em 0 0em rgba(63, 112, 228, 0.2), -1.8em 1.8em 0 0em rgba(63, 112, 228, 0.2), -2.6em 0em 0 0em rgba(63, 112, 228, 0.2), -1.8em -1.8em 0 0em rgba(63, 112, 228, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(63, 112, 228, 0.5), 1.8em -1.8em 0 0em rgba(63, 112, 228, 0.7), 2.5em 0em 0 0em #3f70e4, 1.75em 1.75em 0 0em rgba(63, 112, 228, 0.2), 0em 2.5em 0 0em rgba(63, 112, 228, 0.2), -1.8em 1.8em 0 0em rgba(63, 112, 228, 0.2), -2.6em 0em 0 0em rgba(63, 112, 228, 0.2), -1.8em -1.8em 0 0em rgba(63, 112, 228, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(63, 112, 228, 0.2), 1.8em -1.8em 0 0em rgba(63, 112, 228, 0.5), 2.5em 0em 0 0em rgba(63, 112, 228, 0.7), 1.75em 1.75em 0 0em #3f70e4, 0em 2.5em 0 0em rgba(63, 112, 228, 0.2), -1.8em 1.8em 0 0em rgba(63, 112, 228, 0.2), -2.6em 0em 0 0em rgba(63, 112, 228, 0.2), -1.8em -1.8em 0 0em rgba(63, 112, 228, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(63, 112, 228, 0.2), 1.8em -1.8em 0 0em rgba(63, 112, 228, 0.2), 2.5em 0em 0 0em rgba(63, 112, 228, 0.5), 1.75em 1.75em 0 0em rgba(63, 112, 228, 0.7), 0em 2.5em 0 0em #3f70e4, -1.8em 1.8em 0 0em rgba(63, 112, 228, 0.2), -2.6em 0em 0 0em rgba(63, 112, 228, 0.2), -1.8em -1.8em 0 0em rgba(63, 112, 228, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(63, 112, 228, 0.2), 1.8em -1.8em 0 0em rgba(63, 112, 228, 0.2), 2.5em 0em 0 0em rgba(63, 112, 228, 0.2), 1.75em 1.75em 0 0em rgba(63, 112, 228, 0.5), 0em 2.5em 0 0em rgba(63, 112, 228, 0.7), -1.8em 1.8em 0 0em #3f70e4, -2.6em 0em 0 0em rgba(63, 112, 228, 0.2), -1.8em -1.8em 0 0em rgba(63, 112, 228, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(63, 112, 228, 0.2), 1.8em -1.8em 0 0em rgba(63, 112, 228, 0.2), 2.5em 0em 0 0em rgba(63, 112, 228, 0.2), 1.75em 1.75em 0 0em rgba(63, 112, 228, 0.2), 0em 2.5em 0 0em rgba(63, 112, 228, 0.5), -1.8em 1.8em 0 0em rgba(63, 112, 228, 0.7), -2.6em 0em 0 0em #3f70e4, -1.8em -1.8em 0 0em rgba(63, 112, 228, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(63, 112, 228, 0.2), 1.8em -1.8em 0 0em rgba(63, 112, 228, 0.2), 2.5em 0em 0 0em rgba(63, 112, 228, 0.2), 1.75em 1.75em 0 0em rgba(63, 112, 228, 0.2), 0em 2.5em 0 0em rgba(63, 112, 228, 0.2), -1.8em 1.8em 0 0em rgba(63, 112, 228, 0.5), -2.6em 0em 0 0em rgba(63, 112, 228, 0.7), -1.8em -1.8em 0 0em #3f70e4;
    }
}

@keyframes load5 {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #3f70e4, 1.8em -1.8em 0 0em rgba(63, 112, 228, 0.2), 2.5em 0em 0 0em rgba(63, 112, 228, 0.2), 1.75em 1.75em 0 0em rgba(63, 112, 228, 0.2), 0em 2.5em 0 0em rgba(63, 112, 228, 0.2), -1.8em 1.8em 0 0em rgba(63, 112, 228, 0.2), -2.6em 0em 0 0em rgba(63, 112, 228, 0.5), -1.8em -1.8em 0 0em rgba(63, 112, 228, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(63, 112, 228, 0.7), 1.8em -1.8em 0 0em #3f70e4, 2.5em 0em 0 0em rgba(63, 112, 228, 0.2), 1.75em 1.75em 0 0em rgba(63, 112, 228, 0.2), 0em 2.5em 0 0em rgba(63, 112, 228, 0.2), -1.8em 1.8em 0 0em rgba(63, 112, 228, 0.2), -2.6em 0em 0 0em rgba(63, 112, 228, 0.2), -1.8em -1.8em 0 0em rgba(63, 112, 228, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(63, 112, 228, 0.5), 1.8em -1.8em 0 0em rgba(63, 112, 228, 0.7), 2.5em 0em 0 0em #3f70e4, 1.75em 1.75em 0 0em rgba(63, 112, 228, 0.2), 0em 2.5em 0 0em rgba(63, 112, 228, 0.2), -1.8em 1.8em 0 0em rgba(63, 112, 228, 0.2), -2.6em 0em 0 0em rgba(63, 112, 228, 0.2), -1.8em -1.8em 0 0em rgba(63, 112, 228, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(63, 112, 228, 0.2), 1.8em -1.8em 0 0em rgba(63, 112, 228, 0.5), 2.5em 0em 0 0em rgba(63, 112, 228, 0.7), 1.75em 1.75em 0 0em #3f70e4, 0em 2.5em 0 0em rgba(63, 112, 228, 0.2), -1.8em 1.8em 0 0em rgba(63, 112, 228, 0.2), -2.6em 0em 0 0em rgba(63, 112, 228, 0.2), -1.8em -1.8em 0 0em rgba(63, 112, 228, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(63, 112, 228, 0.2), 1.8em -1.8em 0 0em rgba(63, 112, 228, 0.2), 2.5em 0em 0 0em rgba(63, 112, 228, 0.5), 1.75em 1.75em 0 0em rgba(63, 112, 228, 0.7), 0em 2.5em 0 0em #3f70e4, -1.8em 1.8em 0 0em rgba(63, 112, 228, 0.2), -2.6em 0em 0 0em rgba(63, 112, 228, 0.2), -1.8em -1.8em 0 0em rgba(63, 112, 228, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(63, 112, 228, 0.2), 1.8em -1.8em 0 0em rgba(63, 112, 228, 0.2), 2.5em 0em 0 0em rgba(63, 112, 228, 0.2), 1.75em 1.75em 0 0em rgba(63, 112, 228, 0.5), 0em 2.5em 0 0em rgba(63, 112, 228, 0.7), -1.8em 1.8em 0 0em #3f70e4, -2.6em 0em 0 0em rgba(63, 112, 228, 0.2), -1.8em -1.8em 0 0em rgba(63, 112, 228, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(63, 112, 228, 0.2), 1.8em -1.8em 0 0em rgba(63, 112, 228, 0.2), 2.5em 0em 0 0em rgba(63, 112, 228, 0.2), 1.75em 1.75em 0 0em rgba(63, 112, 228, 0.2), 0em 2.5em 0 0em rgba(63, 112, 228, 0.5), -1.8em 1.8em 0 0em rgba(63, 112, 228, 0.7), -2.6em 0em 0 0em #3f70e4, -1.8em -1.8em 0 0em rgba(63, 112, 228, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(63, 112, 228, 0.2), 1.8em -1.8em 0 0em rgba(63, 112, 228, 0.2), 2.5em 0em 0 0em rgba(63, 112, 228, 0.2), 1.75em 1.75em 0 0em rgba(63, 112, 228, 0.2), 0em 2.5em 0 0em rgba(63, 112, 228, 0.2), -1.8em 1.8em 0 0em rgba(63, 112, 228, 0.5), -2.6em 0em 0 0em rgba(63, 112, 228, 0.7), -1.8em -1.8em 0 0em #3f70e4;
    }
}





